html,
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Myriad Pro', Arial, sans-serif;
    font-size: 16px;
    color: #222;
    outline: none;
}

#register,
#login {
    width: 250px;
    box-sizing: border-box;
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
}

input {
    width: 100%;
    display: block;
    line-height: 25px;
    border: 1px solid #ccc;
    padding: 2px 0;
    text-indent: 4px;
    height: 30px;
    margin-left: -1px;
}

button {
    background: #00ad05;
    border: none;
    color: #fefefe;
    padding: 12px 0 9px 0;
    border-radius: 5px;
    box-shadow: 0 2px 1px #037706;
    font-size: 20px;
    line-height: 16px;
    cursor: pointer;
    transition: 300ms linear;
}

button:active {
    box-shadow: none;
}

.spacing {
    margin: 20px 0;
}

#ajax-result {
    width: 600px;
    margin: 20px auto 0 auto;
    text-align: center;
}

.success {
    color: #00ad05;
}

.error {
    color: #cc0000;
}